*{
    font-size: 22px;
    font-family: cursive;
    text-transform: capitalize;
}
body{
    background-color: black;
    color: white;
}
.ul{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
}
.btn{
    padding: 7px 16px;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 119, 119);
    color: white;
    cursor: pointer;
    transition: all linear .3s;
}
.remove{
    font-size: 18px;
    background: none;
    color: red;
    border: none;
    font-size: 46px;
    cursor: pointer;
}
.container{
    margin: 0 auto;
    max-width: 1320px;
}
.todo-box{
    display: flex;
    flex-direction: column;
}
.todo-box h1{
    font-size: 36px;
}
#inputbox{
    padding: 6px;
    width: 250px;
    border-radius: 8px;
}
input:focus{
    outline: none;
}
.err{
    margin: 15px 10px;
    font-size: 16px;
    font-weight: 600;
    color: red;
}